html,
body {
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
h1 {
  font-family: "Bitter", serif;
  font-size: 55px;
}
.navbar-nav .nav-link {
  font-size: 16px;
}
#set {
  background-color: #ec1b23;
  border-radius: 5px;
}
.hero {
  margin: 0 auto;
}
.align {
  display: grid;
  text-align: center;
  margin-top: 6em;
}
.mon {
  font-size: 16px;
}

p1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: black;
}
a {
  color: black;
}
.badge {
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  margin-bottom: 6em;
}
.badge a {
  text-decoration: none;
  color: #ffffff;
}

.badge-content {
  padding: 40px;
}
.badge-content h3 {
  font-family: "Bitter", serif;
}
.rounded-banner {
  background-color: #ec1b23;
  padding-top: 12px;
  padding-bottom: 8px;
  border-radius: 32px;
}
.on-mobile {
  display: flex;
}
.mobile-bage {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 32px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.on-mobile a {
  text-decoration: none;
}
.mobile-bage :hover {
  opacity: 0.7;
}
i {
  color: #ec1b23;
  font-size: 12px;
}

#android {
  font-size: 28px;
  margin-right: 8px;
}
#icon-size {
  font-size: 45px;
}
.check {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 18px;
  color: rgb(90, 90, 90);
  font-size: 15px;
}
.template {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  gap: 100px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100% !important;
  color: black;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-left: 96px;
  padding-right: 96px;
  margin-top: 54px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #ec1b23;
}
@media screen and (max-width: 400px) {
  #set {
    width: 45%;
    padding: 4px;
  }

  .badge {
    width: 100% !important;
    object-fit: cover !important;
    border: none;
    overflow: hidden;
  }
  .align {
    margin-top: 3em;
    justify-content: center;
    padding: 20px;
  }
  #pills-tab {
    padding: 24px !important;
    justify-content: center;
  }
  .content {
    display: block;
    width: 100%;
  }
  h1 {
    font-family: "Bitter", serif;
    font-size: 25px;
  }
  p1 {
    padding: 2px;
  }
  .rounded-banner {
    background-color: #ec1b23;
    width: 100%;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 8px;
    border-radius: 32px;
  }
  .template {
    display: block;
    grid-template-columns: 1fr;
  }
  .address {
    margin-top: 28px;
  }
  .on-mobile {
    width: auto;
    height: auto;
  }
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
